
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ConsumerForm {
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
}

.formField {
  margin-left: 10%;
  margin-right: 10%;
  
}

.theRow {
  display: flex;
  flex-direction: horizontal;
  margin-left: 10%;
  margin-right: 10%;
}

.consRow {
  display: flex;
  flex-direction: horizontal;
  margin-left: 8.7%;
  margin-right: 8.7%;
}

.buttonsRow {
  display: inline;
  flex-direction: horizontal;
  
}


#rightMarg {
  margin-right: 1%;
  margin-bottom: 2%;
  width: 50% !important;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-weight: 300;
}

#leftMarg {
  margin-left: 1%;
  margin-bottom: 2%;
  width: 50% !important;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-weight: 300;
  
}

.VisaBlue {
  color: #1a1f71;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-weight: 300;
  font-size: 2em;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
}

.smallVisaBlue {
  color: #1a1f71;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-weight: 300;
  font-size: 1.5em;
  display: block;
  text-align: left;
  
  margin-left: 10%;
  margin-right: 10%;
}

.navBlue {
  background-color: #1a1f71;
  
}

.navText{
  color: white !important;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-size: 12px;
}

.visaLogo{
  max-height: 25px;
  max-width: flex;
  margin-bottom: 3px;
  margin-top: 3px;
  
}

.form-control:focus {
  border: 1px solid #1a1f71 !important;
  box-shadow: 0 0 7px #52bbd7 !important;
}

input.form-control:hover {
  border-color: #52bbd7;
  box-shadow: 0 0 7px #52bbd7;
}

#indicatorStripe {
  background: #f7b600;
  height: 3px;
  position: relative;
  z-index: 90;
}

#navOptions {
  position: relative;
  float: left;
}

#buttonBlue {
  background-color: #1a1f71 !important;
  min-width: 130px !important;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right:10px;
}

#buttonLogout {
  background-color: #ffffff !important;
  border-color: #ffffff;
  min-width: 100px !important;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right:10px;
}

#goldenArrow {
  color: #f7b600 !important;
  font-weight: 500;
  font-size: 13px;

}

#submitText {
  margin-right: 3px;
  margin-left:14px;
}

#logoutText {
  justify-content: center;
  color: #1a1f71;
}

#specialCode {
  display: block;
  text-align: center !important; 
  width: 33%; 
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-weight: 300;
}

#specialCodeField {
  text-align: center;
}

#invoiceRow {
  display: block;
  text-align: center !important; 
  width: 33%; 
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif,Tahoma;
  font-weight: 300;
}