
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ConsumerForm {
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
}

.formField {
  margin-left: 10%;
  margin-right: 10%;
  
}

.theRow {
  display: flex;
  flex-direction: horizontal;
  margin-left: 10%;
  margin-right: 10%;
}

#rightMarg {
  margin-right: 2.5%;
}

#leftMarg {
  margin-left: 2.5%;
}

.VisaBlue {
  color: #1a1f71;
}