.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ConsumerForm {
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
}

.formField {
  margin-left: 10%;
  margin-right: 10%;
}

.form-invalid-feedback {
  float: left;
}

.theRow {
  display: flex;
  flex-direction: horizontal;
  margin-left: 10%;
  margin-right: 10%;
}

.additionalMsg {
  display: absolute;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  margin-top: 0.5%;
}

.consRow {
  display: flex;
  flex-direction: horizontal;
  margin-left: 8.7%;
  margin-right: 8.7%;
}

.buttonsRow {
  display: inline;
  margin-left: 5px;
  width: 75px !important;
}

#rightMarg {
  margin-right: 1%;
  width: 50% !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
}

#rightMargItems {
  display: block;
  width: 40%;
  flex-direction: horizontal;
  margin-right: 1%;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
}

#leftMarg {
  margin-left: 1%;
  margin-bottom: 2%;
  width: 50% !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
}

#header {
  text-align: center;
}

#leftMargItems {
  /* width: 40% !important; */
  display: block;
  width: 30%;
  flex-direction: horizontal;
  margin-left: 1%;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
}

.VisaBlue {
  color: #1a1f71;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
  font-size: 2em;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 10%;
  margin-inline-end: 10%;
}

.smallVisaBlue {
  color: #1a1f71;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
  font-size: 1.5em;
  display: block;
  text-align: left;

  margin-left: 10%;
  margin-right: 10%;
}

.navBlue {
  background-color: #1a1f71;
}

.navText {
  color: white !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 12px;
  margin-left: 1rem;
}

.visaLogo {
  max-height: 25px;
  max-width: flex;
  margin-bottom: 3px;
  margin-top: 3px;
}

.form-control:focus {
  border: 1px solid #1a1f71 !important;
  box-shadow: 0 0 7px #52bbd7 !important;
}

input.form-control:hover {
  border-color: #52bbd7;
  box-shadow: 0 0 7px #52bbd7;
}

.form-control.form-invalid-border {
  border-color: #dc3545;
  box-shadow: 0 0 7px #dc3545;
}

.fullPageText {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #1a1f71;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
  font-size: 300%;
  display: block;
}

.successCheck {
  margin-top: 3%;
  margin-bottom: 3%;
}

.login-form {
  --text-color: #495057;
  margin: auto;
  background-color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: #495057;
  width: 20rem;
}

.login-label {
  color: var(--text-color);
  font-size: 1.2rem;
  z-index: -1;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
  transition: transform 400ms;
  display: block;
}

.login-input {
  outline: none;
  border: none;
  overflow: hidden;
  margin: 0;
  width: 100%;
  /* padding: 0.25rem 0; */
  background: none;
  color: black;
  font-size: 1.2em;
  transition: border 500ms;
}

.input-container {
  z-index: 0;
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--text-color);
  margin: 3rem auto 1rem;
  transition: 500ms;
}

.input-container::after {
  content: "";
  position: relative;
  display: block;
  height: 4px;
  width: 100%;
  background: #1a1f71;
  transform: scaleX(0);
  transform-origin: 0%;
  opacity: 0;
  transition: all 500ms ease;
  top: 2px;
}

.input-container:focus-within {
  border-color: transparent;
}

.input-container:focus-within::after {
  transform: scaleX(1);
  opacity: 1;
}

.input-container:focus-within .login-label,
.login-input:not(:placeholder-shown) + .login-label {
  transform: scale(0.85) translateY(-4rem);
  opacity: 1;
}

.error-text {
  color: red;
  font-size: 0.75rem;
  height: 1rem;
}

#indicatorStripe {
  background: #f7b600;
  height: 3px;
  position: relative;
  z-index: 90;
}

#navOptions {
  position: relative;
  float: left;
}

#logout {
  background-color: #1a1f71;
  border-color: #1a1f71;
}

#buttonBlue {
  background-color: #1a1f71 !important;
  min-width: 130px !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

#buttonBlueNoLeftMarg {
  background-color: #1a1f71 !important;
  min-width: 130px !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 0px !important;
}

#buttonLogout {
  background-color: #ffffff !important;
  border-color: #ffffff;
  min-width: 100px !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#goldenArrow {
  color: #f7b600 !important;
  font-weight: 500;
  font-size: 13px;
}

#submitText {
  margin-right: 2rem;
  margin-left: 2rem;
}

#submitTextNoLeftMarg {
  margin-left: 0px !important;
  margin-right: 0px;
}

#logoutText {
  justify-content: center;
  color: #1a1f71;
}

#specialCode {
  display: block;
  text-align: center !important;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
}

#specialCodeField {
  text-align: center;
}

#invoiceRow {
  display: block;
  text-align: center !important;
  width: 33%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-weight: 300;
}

.itemsListForm {
  display: inline-block;
  width: 100%;
}

.itemsRow {
  display: flex;
  width: 100%;
  min-width: 260px;
  height: 40px;
  margin-bottom: 10px;
  justify-content: center;
}

#buttonBluePlusMinus {
  background-color: #1a1f71 !important;
  font-family: "Open Sans", sans-serif, Tahoma;
  font-size: 15px;
  margin-left: 5%;

  display: inline;
  align-items: center;
}

.footer {
  width: 100vw;
  min-height: 80px;
  background-color: #d8d8d8;
  padding-top: 10px;
  bottom: 0px;
}

.footer-social {
  background-color: #585858;
  min-height: 0px;
}

.footer-row {
  width: 100%;
  padding: 0 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.github-icon {
  margin-top: 3px;
  margin-left: 16px;
  text-decoration: none;
}

.github-icon img {
  height: 25px;
}

.github-icon span {
  margin-left: 10px;
  color: white;
}

.github-icon:hover {
  text-decoration: none;
}
